doctype html
html(lang="en")
	head
		title Daftar #{ucfirst(collection)}
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		style .btn {margin:10px 10px 10px 0px;}
	body
		#container
			div.col-md-8.col-md-offset-2
				div.panel.panel-default
					div.panel-heading Masukan data mahasiswa
					div.panel-body
						form(method='post', action='./')
							div.form-group
								label(for='NIM') NIM
								input(type='text', name='NIM', id='NIM', placeholder='NIM').form-control
							div.form-group
								label(for='NAMA') NAMA
								input(type='text', name='NAMA', id='NAMA', placeholder='Nama').form-control
							div.form-group
								label(for='TTL') TTL
								input(type='text' name='TTL', id='TTL', placeholder='Tempat & tanggal lahir').form-control
							div.form-group
								label(for='ALAMAT') ALAMAT
								textarea(name='ALAMAT', id='ALAMAT', placeholder='Alamat').form-control
							div.form-group
								label(for='ASAL') ASAL
								input(type='text' name='ASAL', id='ASAL', placeholder='Asal').form-control
							div.form-group
								label(for='JURUSAN') JURUSAN
								input(type='text' name='JURUSAN', id='JURUSAN', placeholder='Jurusan').form-control
							input(type='submit', value='Tambahkan').btn.btn-success
							a(href='/#{collection}', role='button').btn.btn-danger Batal